.svg_about {
  position: absolute;
}

.svg_man {
  left: 43px;
  bottom: 16px;

  animation: manAnim 1s ease-out forwards;

  @keyframes manAnim {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
}

.svg_cloudOne {
  left: 120px;
  bottom: 104px;

  animation: cloudAnim 1s linear forwards;

  @keyframes cloudAnim {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
}

.svg_cloudTwo {
  left: 152px;
  bottom: 108px;

  animation: cloudAnim 1s linear forwards;
}

.svg_largeCloud {
  right: 0;
  top: 0;

  animation: cloudAnim 1s ease-in forwards;
}

.svg_qOne {
  right: 60px;
  top: 34px;
}

.svg_q-path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: q-pathAnim 2s ease-in alternate infinite;

  @keyframes q-pathAnim {
    from {
      stroke-dashoffset: 300;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
}

.svg_qTwo {
  right: 91px;
  top: 63px;
}

.svg_vector-one {
  top: 30px;
  left: 129px;

  stroke-dasharray: 500;
  stroke-dashoffset: 500;

  animation: vector-pathAnim 3s linear alternate infinite;

  @keyframes vector-pathAnim {
    from {
      stroke-dashoffset: 500;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
}

.svg_vector-two {
  left: 126px;
  top: 94px;

  stroke-dasharray: 500;
  stroke-dashoffset: 500;

  animation: vector-pathAnim 3s linear alternate infinite;
}

.svg_vector-three {
  top: 55px;
  right: 21px;

  stroke-dasharray: 500;
  stroke-dashoffset: 500;

  animation: vector-pathAnim 9s linear alternate infinite;
}

.svg_vector-four {
  top: 87px;
  right: 11px;

  stroke-dasharray: 100;
  stroke-dashoffset: 100;

  animation: vector-fourAnim 9s linear alternate infinite;

  @keyframes vector-fourAnim {
    from {
      stroke-dashoffset: 500;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
}

.svg_vector-five {
  right: 25px;
  top: 93px;

  stroke-dasharray: 500;
  stroke-dashoffset: 500;

  animation: vector-pathAnim 4s linear alternate infinite;
}

.svg_lamp {
  position: absolute;
  left: 63px;
  top: 58px;
}

.svg_lamp_main-path {
  animation: turnLampMain 1s linear alternate infinite;

  @keyframes turnLampMain {
    from {
      stroke: grey;
    }
    to {
      stroke: #ffd700;
    }
  }
}

.svg_lamp_second-path {
  animation: turnLampSecond 1s linear alternate infinite;
  @keyframes turnLampSecond {
    from {
      stroke: grey;
      opacity: 0;
    }
    to {
      opacity: 1;
      stroke: #ffd700;
    }
  }
}
