.cta {
  position: relative;
  overflow: hidden;

  z-index: 2;

  background-color: $colorBgTwo;

  padding: clamp(80px, 3.636rem + 6.82vw, 140px) 0;
}
.container {
}

.cta__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cta__tag {
  color: $colorAccent;
  font-size: 14px;
  font-weight: 700;
  line-height: 160%;

  border: 1px solid $colorAccent;
  border-radius: 4px;

  padding: 3px 6px;
}
.cta__title {
  max-width: 502px;
  margin: 20px 0 28px;
}
.title2 {
}
.title2_cta {
}
.cta__subtitle {
  margin-bottom: clamp(80px, 3.636rem + 6.82vw, 140px);
}
.subtitleP {
}
.subtitleP_cta {
}

.cta__button {
  margin-bottom: 24px;
  button {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    background-color: $colorBlack;

    padding: 20px 36px;

    color: $colorWhite;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;

    transition: box-shadow 0.1s linear;

    &:hover {
      box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.25);
    }
  }
}

.cta__socials {
  display: flex;
  align-items: center;
  column-gap: 20px;

  margin-top: 10px;
}

.cta__phoneLeft {
  position: absolute;
  opacity: 0;
  transform: translate(-21%, -34%);
  width: 500px;

  z-index: -1;

  @keyframes phoneLeftAnim {
    from {
      transform: translate(-103%, -34%);
    }
    to {
      transform: translate(-21%, -34%);
    }
  }
}

.cta__phoneLeft-animation {
  animation: phoneLeftAnim 1s ease-out;
  opacity: 1;
}

.cta__phoneRight {
  position: absolute;
  width: 600px;
  opacity: 0;
  // transform: translate(184%, -71%);
  right: -12%;
  top: 111px;

  z-index: -1;

  @keyframes phoneRightAnim {
    from {
      opacity: 0;
      right: -39%;
    }
    to {
      opacity: 1;
      right: -12%;
    }
  }
}

.cta__phoneRight-animation {
  animation: phoneRightAnim 1s ease-out;
  opacity: 1;
}

@media screen and (max-width: 860px) {
  .cta__phoneRight {
    display: none;
  }
}

@include mediaTablet {
  .cta__phoneLeft {
    opacity: 0.5;
  }

  .cta__phoneRight {
    opacity: 0.5;
  }
}
