.footer {
  padding: clamp(80px, 3.636rem + 6.82vw, 140px) 0 80px;

  background-color: $colorWhite;
}

.footer__grid {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 4fr;
}
.footer__logotype {
  display: flex;
  flex-direction: column;
  row-gap: 44px;

  & + .footer__nav {
    margin-right: 90px;
  }

  margin-right: 118px;

  .logotype__icon {
    display: flex;
    align-items: end;
    column-gap: 24px;
  }

  .logotype__socials {
    display: flex;
    align-items: center;
    column-gap: 25px;

    svg:hover {
      path {
        fill: $colorAccent;
      }
    }
  }
}
.footer__nav {
  .footer__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .footer__item {
    a {
      transition: unset;
    }

    a:hover {
      color: $colorAccent;
    }
  }
}
.footer__platforms {
  margin-left: auto;

  .platform__subtitle {
    margin-bottom: 29px;
  }

  .platforms__logotypes {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 400px;

    margin-bottom: 60px;
  }
  .platforms__apps {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
  }


}

@include mediaTablet {
  .footer__grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }

  .footer__nav {
    order: 2;
  }

  .footer__platforms {
    margin-left: unset;
    margin-right: auto;
  }

  .platforms__logotypes {
    margin-left: unset;
  }
}

@media screen and (max-width: 720px) {
  .footer__grid {
    grid-template-columns: 1fr;
  }

  .platforms__logotypes {
    display: grid !important;
    row-gap: 20px;
  }
}
