.pricing {
    padding: clamp(80px, 3.636rem + 6.82vw, 140px) 0;
    background-color: $colorWhite;
}
.container {
}
.pricing__title {
    margin-bottom: 20px;
}

.pricing__subtitle {
    margin-bottom: 100px;
}
