.sponsors {
  position: relative;
  margin-bottom: clamp(80px, 3.636rem + 6.82vw, 140px);
}

.sponsors__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //   column-gap: 132px;

  padding: 20px 0;

  border-top: 1.5px solid $colorBlackMuted;
  border-bottom: 1.5px solid $colorBlackMuted;
}
.sponsors__text {
  color: $colorBlack;
  font-size: 22.65px;
  font-weight: 700;
  line-height: 140%;
  text-wrap: nowrap;
}
.sponsors__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  width: 100%;
}
.sponsors__row_block {
  display: flex;
  justify-content: center;
  padding: 20px 30px;

  max-width: 275px;
  width: 100%;
}



@include mediaTablet {
  .sponsors__wrapper {
    flex-wrap: wrap;
  }
}

@include semiTablet {
  .sponsors__row {
    display: grid;
    grid-template-columns: 1fr;
  }

  .sponsors__wrapper { 
    justify-content: center;
  }

  .sponsors__row_block {
    justify-self: center;
  }
}
