.swiper_testimonials {
    position: relative;
    background-color: $colorBgTwo;
    padding: clamp(80px, 3.636rem + 6.82vw, 140px) 0 105px;
}

.testimonials__image-boom {
    position: absolute;
    left: 277px;
    top: 71px;
    animation: image-boomAnim 0.5s ease-out forwards;

    @keyframes image-boomAnim {
        from {
            transform: scale(0);
        }
        to {
            ransform: scale(1);
        }
    }
}

.testimonials__title {
    margin-bottom: 20px;
}

.testimonials__subtitle {
    margin-bottom: 100px;
}


.svg_scribbleBlackTestimonials {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8%;
    z-index: 1;
}

.svg_scribbleBlackTestimonials-path {
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
}

.svg_scribbleBlackTestimonials-path-animation {
    animation: scribbleBlackTestimonialsAnim 1s linear forwards;
}

@keyframes scribbleBlackTestimonialsAnim {
    from {
        stroke-dashoffset: 800;
    } to {
        stroke-dashoffset: 0;
    }
}