body {
  font-family: $montserrat;
  // color: ;
  font-size: 16px;
  background-color: $colorBg;
}

a {
  transition: color 0.2s linear;

  &:hover {
    // color: $fff;
  }
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.6);

  opacity: 0;
  visibility: hidden;

  z-index: 20;
}

.overflow {
  overflow: hidden;
}

.title1 {
  color: $colorBlack;
  font-size: clamp(40px, 1.227rem + 6.36vw, 96px);
  font-weight: 700;
  line-height: 100%;

  &_hero {
    text-align: center;
    span {
      color: $colorAccent;
    }
  }
}

.title2 {
  color: $colorBlack;
  font-size: clamp(30px, 1.193rem + 3.41vw, 60px);
  font-weight: 700;
  line-height: 120%;
  text-align: center;

  &__quote {
    color: $colorAccent;
    font-size: clamp(60px, 2.955rem + 3.98vw, 95px);
    font-weight: 700;
    line-height: 100%;
  }
}

.title3 {
  color: $colorBlack;
  font-size: clamp(25px, 1.313rem + 1.25vw, 36px);
  font-weight: 700;
  line-height: 140%;
  text-align: center;
}

.title4 {
  color: $colorBlack;
  font-size: clamp(18px, 1.034rem + 0.45vw, 22px);
  font-weight: 700;
  line-height: 140%;

  &_content {
    // text-wrap: nowrap;
    transition: color 0.2s linear;
  }
}

.title5 {
  &_them {
    color: $colorNamePodcast;
    font-size: 36.65px;
    font-weight: 700;
    line-height: 140%;
  }
}

.title6 {
  font-size: clamp(25px, 0.886rem + 1.82vw, 36px);
  font-weight: 700;
  line-height: 140%;

  &_type {
    color: $colorBlack;
  }
}

.subtitleP {
  color: $colorBlack;
  font-size: clamp(12px, 0.659rem + 0.45vw, 16px);
  font-weight: 500;
  line-height: 160%;
  text-align: center;

  &_hero {
    text-align: center;
    color: $colorBlackMuted;
  }

  &_about {
    text-align: center;
  }

  &_testimonials {
    color: $colorBlackMuted;
    text-align: center;
    font-size: 22.65px;
    font-weight: 500;
    line-height: 160%;
  }

  &_testimonials_swiper {
    color: $colorBlack;
    font-size: 22.65px;
    font-weight: 500;
    line-height: 160%;
    text-align: left;
  }

  &_features {
    text-align: center;
  }

  &_content {
    text-align: center;
  }

  &_content-episode {
    text-align: center;
    padding-top: 10px;
  }

  &_type,
  &_blog,
  &_logotype,
  &_platform,
  &_apps {
    color: $colorBlackMuted;
    font-size: clamp(12px, 0.705rem + 0.23vw, 14px);
    font-weight: 500;
    line-height: 160%;
    text-align: left;
  }

  &_platform,
  &_apps {
    font-size: 16px;
  }

  &_cta {
    color: $colorBlackMuted;
    font-family: Montserrat Alternates;
    font-size: clamp(15px, 0.778rem + 0.8vw, 22px);
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
  }
}


