body {
  font-family: $montserrat;
  // color: ;
  font-size: 16px;
  background-color: $colorBg;
}

a {
  transition: color 0.2s linear;

  &:hover {
    // color: $fff;
  }
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.title1 {
  color: $colorBlack;
  font-size: 96px;
  font-weight: 700;
  line-height: 100%;

  &_hero {
    text-align: center;
    span {
      color: $colorAccent;
    }
  }
}

.title2 {
  color: $colorBlack;
  font-size: 59.3px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;

  &__quote {
    color: $colorAccent;
    font-size: 95.95px;
    font-weight: 700;
    line-height: 100%;
  }
}

.title3 {
  color: $colorBlack;
  font-size: 36.65px;
  font-weight: 700;
  line-height: 140%;
  text-align: center;
}

.title5 {
  &_them {
    color: $colorNamePodcast;
    font-size: 36.65px;
    font-weight: 700;
    line-height: 140%;
  }
}

.subtitleP {
  color: $colorBlack;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;

  &_hero {
    text-align: center;
    color: $colorBlackMuted;
  }

  &_about {
    text-align: center;
  }

  &_testimonials {
    color: $colorBlackMuted;
    text-align: center;
    font-size: 22.65px;
    font-weight: 500;
    line-height: 160%;
  }

  &_testimonials_swiper {
    color: $colorBlack;
    font-size: 22.65px;
    font-weight: 500;
    line-height: 160%;
  }
}
