/*FONTS*/

$montserrat: "Montserrat Alternates", serif;

/*FONTS*/

/*COLORS*/

$colorWhite: rgb(255, 255, 255);
$colorBlack: rgb(0, 0, 0);
$colorBg: rgb(247, 237, 232);
$colorAccent: rgb(205, 70, 49);
$colorBlackMuted: rgb(77, 77, 77);
$colorNamePodcast: rgb(129, 173, 200);
$colorBgTwo: rgb(237, 243, 247);

/*COLORS*/

/* CURSOR */

$cirlceSize: 40px;

/* CURSOR */

/*MEDIA*/

$tablet: 1000px;
$semiTablet: 630px;
$phone: 320px;

/*MEDIA*/
